@import 'variables';
body {
    font-size: 16px;
    color: $fff-color;
    background-color: #333;
}

.card-body {
    color: $fff-color;
    background-color: rgb(105, 87, 87);
}

.card {
    background-color: rgb(65, 34, 34);
}

.card-course-item {
    margin-top: 25px;
}

.card {
    width: 600px;
}