<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Yus Blog</a>
    <div class="dropdown show ml-auto">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://i.pinimg.com/564x/4f/dc/99/4fdc99d66e14f0793ba3976c06f143f5.jpg" alt="" class="user-avatar">
        Minh Tân
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/courses/create">Create video</a>
        <a class="dropdown-item" href="/me/stored/courses">My Video</a>
        <a class="dropdown-item" href="#">Log out</a>
      </div>
    </div>
  </div>
</nav>